ydata-labeled-time-series-anomalies-v1_0/README.txt
ydata-labeled-time-series-anomalies-v1_0/WebscopeReadMe.txt
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/.json
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_1.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_2.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_3.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_4.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_5.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_6.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_7.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_8.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_9.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_10.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_11.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_12.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_13.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_14.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_15.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_16.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_17.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_18.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_19.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_20.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_21.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_22.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_23.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_24.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_25.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_26.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_27.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_28.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_29.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_30.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_31.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_32.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_33.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_34.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_35.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_36.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_37.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_38.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_39.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_40.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_41.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_42.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_43.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_44.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_45.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_46.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_47.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_48.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_49.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_50.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_51.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_52.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_53.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_54.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_55.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_56.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_57.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_58.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_59.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_60.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_61.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_62.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_63.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_64.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_65.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_66.csv
ydata-labeled-time-series-anomalies-v1_0/A1Benchmark/real_67.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_1.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_2.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_3.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_4.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_5.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_6.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_7.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_8.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_9.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_10.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_11.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_12.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_13.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_14.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_15.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_16.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_17.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_18.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_19.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_20.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_21.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_22.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_23.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_24.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_25.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_26.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_27.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_28.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_29.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_30.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_31.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_32.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_33.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_34.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_35.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_36.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_37.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_38.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_39.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_40.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_41.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_42.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_43.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_44.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_45.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_46.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_47.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_48.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_49.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_50.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_51.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_52.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_53.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_54.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_55.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_56.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_57.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_58.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_59.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_60.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_61.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_62.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_63.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_64.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_65.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_66.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_67.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_68.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_69.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_70.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_71.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_72.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_73.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_74.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_75.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_76.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_77.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_78.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_79.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_80.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_81.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_82.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_83.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_84.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_85.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_86.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_87.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_88.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_89.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_90.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_91.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_92.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_93.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_94.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_95.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_96.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_97.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_98.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_99.csv
ydata-labeled-time-series-anomalies-v1_0/A2Benchmark/synthetic_100.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark_all.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS1.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS2.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS3.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS4.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS5.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS6.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS7.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS8.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS9.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS10.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS11.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS12.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS13.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS14.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS15.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS16.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS17.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS18.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS19.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS20.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS21.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS22.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS23.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS24.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS25.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS26.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS27.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS28.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS29.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS30.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS31.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS32.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS33.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS34.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS35.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS36.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS37.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS38.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS39.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS40.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS41.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS42.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS43.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS44.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS45.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS46.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS47.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS48.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS49.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS50.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS51.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS52.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS53.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS54.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS55.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS56.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS57.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS58.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS59.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS60.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS61.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS62.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS63.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS64.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS65.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS66.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS67.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS68.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS69.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS70.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS71.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS72.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS73.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS74.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS75.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS76.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS77.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS78.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS79.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS80.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS81.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS82.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS83.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS84.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS85.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS86.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS87.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS88.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS89.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS90.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS91.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS92.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS93.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS94.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS95.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS96.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS97.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS98.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS99.csv
ydata-labeled-time-series-anomalies-v1_0/A3Benchmark/A3Benchmark-TS100.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark_all.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS1.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS2.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS3.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS4.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS5.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS6.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS7.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS8.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS9.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS10.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS11.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS12.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS13.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS14.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS15.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS16.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS17.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS18.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS19.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS20.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS21.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS22.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS23.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS24.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS25.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS26.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS27.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS28.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS29.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS30.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS31.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS32.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS33.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS34.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS35.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS36.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS37.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS38.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS39.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS40.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS41.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS42.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS43.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS44.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS45.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS46.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS47.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS48.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS49.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS50.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS51.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS52.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS53.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS54.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS55.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS56.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS57.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS58.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS59.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS60.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS61.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS62.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS63.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS64.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS65.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS66.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS67.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS68.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS69.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS70.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS71.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS72.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS73.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS74.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS75.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS76.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS77.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS78.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS79.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS80.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS81.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS82.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS83.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS84.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS85.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS86.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS87.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS88.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS89.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS90.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS91.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS92.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS93.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS94.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS95.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS96.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS97.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS98.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS99.csv
ydata-labeled-time-series-anomalies-v1_0/A4Benchmark/A4Benchmark-TS100.csv
ydata/README.txt
ydata/WebscopeReadMe.txt
